@model PiesListViewModel


<h1>@Model.Categories</h1>
<

<form asp-controller="Pie" asp-action="List" method="get">
    <p>

        <select asp-for="PieCategory" name="pieCategory" asp-items="Model.Categories">
            <option value="">All</option>
        </select>

        Name: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
@foreach (var pie in Model.Pies)
{
    <partial name="_PieCard" model="pie" />
}